<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>JuguetesBlancos.com</title>
  </head>
  <body bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">


<p>Hola,<br />
	Gracias por registrarte en Juguetes Blancos. Hemos recibido tu solicitud del cupón de 10€ para la compra de juguetes y bicicletas en Hipercor. Tras haber comprobado la documentación aportada,  no es correcta. </p>
<p>Responde por favor a este email adjuntando tu documentación (Desempleo o Discapacidad).</p>
<p>Una vez la comprobemos, recibirás un email de confirmación de que es válida para enviarte el cupón.</p>
<p>¡Gracias!</p>
<p></p>

<p><small>Rocío Leiva</small><br />
<small>Trabajadora Social y Asesora de Usuari@s Beneficiarios en Tarifas Blancas</small><br />
<small>Habla de Juguetes Blancos a tus amig@s :)</small></p>


  </body>
</html>