{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>JuguetesBlancos.com</title>
  </head>
  <body bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">


<p>Hola  {{ lead.nombre }},</p>

	<p>Hemos comprobado que tu documentación es correcta y ya puedes beneficiarte del descuento en compras de juguetes y bicicletas de Hipercor.</p>

	<p>Sigue los siguientes pasos para poder utilizarlo:</p>
<p></p>

<ol>
	<li>Haz <a href="{{ url_cupon }}" target="_blank">clic aquí</a> o en el siguiente botón para <a href="{{ url_cupon }}" target="_blank">VER TU CUPÓN</a>. Se abrirá una nueva ventana en tu navegador de internet con el cupón en formato .pdf.</li>
	<li>Guarda el cupón en tu ordenador. </li>
	<li>IMPRÍME tu cupón.</li>
	<li>Lleva tu cupón IMPRESO junto con DNI cuando vayas a realizar tu compra de juguetes en Hipercor y entrégalo en la caja cuando realices el pago. </li>
</ol>


<p></p>
<p>Tu descuento será aplicado directamente en el momento de la compra. Recuerda que no podrá aplicarse el descuento si realizas tu compra online, sólo en establecimientos físicos.</p>

<p></p>
<p>
¡Gracias por confiar en nosotros! 
</p>

<p><small>Rocío Leiva</small><br />
<small>Trabajadora Social y Asesora de Usuari@s Beneficiarios en Tarifas Blancas</small><br />
<small>Habla de Juguetes Blancos a tus amig@s :)</small></p>

<p>
  <img src="{% static 'img/juguetesblancos-hortizontal.jpg' %}" alt="" style="width: 100%;" />
</p>

  </body>
</html>
