{% extends 'base.html' %}



{% block content %}
<div class="row">
	<div class="col-md-6">
		<img src="http://mco-s2-p.mlstatic.com/ositos-peluches-perros-juguetes-20761-MCO20196911026_112014-Y.jpg" alt="" class="img-responsive" style="width: 100%;">
	</div>
	<div class="col-md-6">
		<h1>Juguetes Blancos</h1>
		<h2>Esta navidad nadie sin juguetes</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque voluptatum sapiente ipsa tempora libero id quibusdam animi reiciendis, culpa voluptates dignissimos natus deleniti sint! Ullam neque quos, quisquam sit!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque voluptatum sapiente ipsa tempora libero id quibusdam animi reiciendis, culpa voluptates dignissimos natus deleniti sint! Ullam neque quos, quisquam sit!</p>
		<a href="{% url 'solicitar' %}" class="btn btn-lg btn-primary">QUIERO EL DESCUENTO</a>
	</div>

</div>

{% endblock content %}