{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row text-center">
	<div class="col-sm-12">
		<img src="{% static 'img/juguetesblancos-hortizontal.jpg' %}" alt="" class="img-responsive" style="width: 100%;">
	</div>
	<div class="col-sm-12">
		<p class="cta"><a href="{% url 'solicitar' %}" class="btn btn-lg btn-success">QUIERO EL DESCUENTO</a></p>
		<p>Esta Navidad <strong>Hipercor</strong> colabora con <strong>Tarifas Blancas</strong>, una empresa social que trabaja a favor de colectivos en dificultades, entre ellos, <strong>personas desempleadas o con discapacidad</strong>.</p>
		<p>Juntos lanzamos la campaña <strong>"JUGUETES BLANCOS"</strong>, poniendo a disposición de familias en esta situación <strong>20.000 vales de 10€</strong> para la compra de juguetes.</p>
	</div>

</div>

{% endblock content %}