{% extends 'base.html' %}

{% load crispy_forms_tags %}{% load static %}


{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-push-6">
		<form action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
			{{ form|crispy }}
			<div class="enviar-datos-cks">
				<p><em>Debes aceptar las condiciones y privacidad para participar.</em></p>
				<input type="checkbox" id="acepto-bases"> <label for="acepto-bases">Acepto las <a href="#" data-toggle="modal" data-target="#basesModal">bases de la promocion</a></label>
				<input type="checkbox" id="acepto-privacidad"> <label for="acepto-privacidad">Acepto la <a href="#" data-toggle="modal" data-target="#politicaModal">Politica de Privacidad</a></label>
				<p><button type="submit" id="enviar-btn" class="btn btn-success btn-lg" disabled="disabled">Ir al último Paso</button></p>
			</div>
		</form>
	</div>
	<div class="col-sm-6 col-sm-pull-6">
		<img src="{% static 'img/juguetesblancos.jpg' %}" alt="" class="img-responsive" style="width: 100%;">
	</div>
</div>

{% endblock content %}


{% block extra_js %}
	<script>
		$(function(){
			$("#acepto-bases").on('click', function(){
				if( $(this).is(':checked') && $('#acepto-privacidad').is(':checked')){
					$("#enviar-btn").prop('disabled', false);
				}else{
					$("#enviar-btn").prop('disabled', true);
				}
			});
			$("#acepto-privacidad").on('click', function(){
				if( $(this).is(':checked') && $('#acepto-bases').is(':checked')){
					$("#enviar-btn").prop('disabled', false);
				}else{
					$("#enviar-btn").prop('disabled', true);
				}
			});
			$("#enviar-btn").on('click', function(){
				if( !$('#acepto-privacidad').is(':checked') || !$('#acepto-bases').is(':checked')){
					alert("Debes aceptar las bases y la Politica de Privacidad");
					return false;
				}else{
					return true;
				}
			});
		});
	</script>
{% endblock extra_js %}